torch
torchvision
torchaudio
transformers>=4.25.1
gradio==3.50.0
ftfy
tensorboard
datasets
Pillow==9.5.0 
opencv-python 
imgaug 
accelerate==0.20.3
image-reward
hpsv2
torchmetrics
open-clip-torch
clip
segment_anything
git+https://github.com/TencentARC/BrushNet.git